@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 8px 16px;
  color: #fff;
  background-color: #285680;
  position: sticky;
  top: 0;
  z-index: 100;
}
body header .logo a {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
body header nav ul {
  display: flex;
  align-items: center;
}
body header nav ul li a {
  display: inline-block;
  padding: 4px 8px;
  font-size: 16px;
  color: #fff;
  transition: 200ms all;
}
body header nav ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
body header .log-buttons {
  display: flex;
  gap: 8px;
}
body header .log-buttons a {
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 500;
  color: #fff;
  background: #285680;
  transition: 200ms all;
}
body header .log-buttons a:hover {
  color: #285680;
  background: #fff;
}
body main {
  flex: 1;
  display: grid;
  place-items: center;
  padding: 32px 0;
}
body main.home h1 {
  text-align: center;
  color: #285680;
}
body main.home div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 128px;
}
body main.home div img {
  height: 96px;
}
body main.home div p {
  max-width: 320px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
body main.home a {
  padding: 8px 16px;
  border: 1px solid #285680;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  color: #285680;
  background: #fff;
  transition: 200ms all;
}
body main.home a:hover {
  color: #fff;
  background: #285680;
}
body main.log-in h3, body main.sign-up h3 {
  font-size: 24px;
  color: #285680;
  margin-bottom: 16px;
}
body main.log-in form label, body main.sign-up form label {
  display: block;
  color: #464f5d;
  margin-bottom: 16px;
}
body main.log-in form label span, body main.sign-up form label span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
body main.log-in form label input, body main.sign-up form label input {
  width: 400px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgba(70, 79, 93, 0.2);
  font-size: 14px;
}
body main.contact h1 {
  color: #285680;
  margin-bottom: 32px;
}
body main.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 30%;
}
body main.contact form input,
body main.contact form textarea {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgba(70, 79, 93, 0.2);
}
body main.contact form textarea {
  height: 96px;
  resize: none;
}
body main.about h1 {
  color: #285680;
}
body main.about div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}
body main.about div p {
  line-height: 20px;
}
body main button {
  display: block;
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background: #285680;
  transition: 200ms background-color ease-in;
  cursor: pointer;
}
body main button:hover {
  background: #1e4161;
}
body footer .footer-top {
  display: flex;
  gap: 128px;
  padding: 32px 32px 48px;
  border-top: 8px solid #285680;
  background: #464f5d;
}
body footer .footer-top .logo {
  margin-right: auto;
}
body footer .footer-top .logo a {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
body footer .footer-top ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body footer .footer-top ul li a {
  font-size: 14px;
  color: #fff;
  transition: 200ms all;
}
body footer .footer-top ul li a:hover {
  text-decoration: underline;
}
body footer .footer-top .social-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body footer .footer-top .social-buttons a {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  transition: 200ms all;
}
body footer .footer-top .social-buttons a:hover {
  color: #464f5d;
  background: #fff;
}
body footer .footer-top .social-buttons a i {
  font-size: 18px;
}
body footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
}/*# sourceMappingURL=style.css.map */